<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    <script src="{% static 'js/test.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/6.0.3/math.js" defer></script>
    <title>Michael's Calculator</title>
</head>
<body> 
        <div id="calculator">
                <div class="calculator-screen-grid">
                    <button class="calculator-screen-item" id="calculator-screen"></button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">=</button>
                    <button class="calculator-button-item">sin</button>
                    <button class="calculator-button-item">cos</button>
                    <button class="calculator-button-item">tan</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">square</button>
                    <button class="calculator-button-item">log</button>
                    <button class="calculator-button-item">,</button>
                    <button class="calculator-button-item">^</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">7</button>
                    <button class="calculator-button-item">8</button>
                    <button class="calculator-button-item">9</button>
                    <button class="calculator-button-item">sqrt</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">4</button>
                    <button class="calculator-button-item">5</button>
                    <button class="calculator-button-item">6</button>
                    <button class="calculator-button-item">/</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">1</button>
                    <button class="calculator-button-item">2</button>
                    <button class="calculator-button-item">3</button>
                    <button class="calculator-button-item">*</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">0</button>
                    <button class="calculator-button-item">.</button>
                    <button class="calculator-button-item">pi</button>
                    <button class="calculator-button-item">-</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">(</button>
                    <button class="calculator-button-item">)</button>
                    <button class="calculator-button-item">(-)</button>
                    <button class="calculator-button-item">+</button>
                </div>
                <div class="calculator-button-grid">
                    <button class="calculator-button-item">Hello!</button>
                    <button class="calculator-button-item" id="calculator-clear">Clear</button>
                    <button class="calculator-button-item">deg</button>
                    <button class="calculator-button-enter" id="calculator-enter">Enter</button>
                </div>
        </div>
</body>
</html>